.header-main {
  height: 60px;
  background-color: transparent;
  display: flex;
  /* box-shadow: 1px 3px 8px 5px rgba(180, 96, 214, 0.5294117647); */
  

  div {
    display: flex;
    align-items: center;
  }

  .logo-img {
    height: 60px;

  }

  .logo-img:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .nav-btn.container{
    gap: 2rem;
  }
  .header-btn {
    all: unset;
    color: rgba(255, 255, 255, 0.87);
    font-size: 1.2rem;
    cursor: pointer;
    transition: .2s;

    &:hover {
      box-shadow: inset 0px -2px 0px 0px;
    }
  }
}